
@{
    ViewBag.Title = "IndexAjax";
}

<h2>Index Albums - Ajax</h2>


<table id="albumsTable">
    <thead>
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Image</td>
            <td>Title</td>

        </tr>
 </thead>

</table>

@section scripts {
    
      <script>
          $(document).ready(function () {
              $("#albumsTable").DataTable({
                  ajax: {
                      url: "/api/Albums1",
                      dataSrc: ""
                  },
                  columns: [
                      {
                          data: "Name",
                          render: function (settings, type, album) {
                              return "<a href='/Albums/Details/" + album.Id + "'>" + album.Name + "</a>";
                          }
                      },
                      {
                          data:"Price"
                      },
                      {
                          data: "AlbumArtUrl",
                          render: function (settings, type, album) {
                              return "<img src = '" + album.AlbumSrcUrl + "'/>";
                          }
                      }
                  ]

              });
          
          
          });
</script>
    
    
    
    }
